:root {
	--primary-color: #3498db;
	--secondary-color: #2ecc71;
	--background-color: #ffffff;
	--hacker-orange: #ff6601;
	--header-color: rgba(71 85 105 / 1);
	--font-family: 'Inter', Helvetica, Arial, sans-serif;
	--font-size-base: 16px;
	--spacing-base: 1rem;
	--grey: #9091b0;
	--dark: #1a1f3e;
	--hover: #f5f6fa;
	--lightgrey: #e5e7f1;
	--sm-breakpoint: 640px;
	--md-breakpoint: 768px;
	--lg-breakpoint: 1024px;
	--xl-breakpoint: 1296px;
}
body {
	font-family: var(--font-family);
	font-size: var(--font-size-base);
	background-color: var(--background-color);
	margin: 0;
	padding: 0;
	min-height: 100vh;
}
h1 {
	color: var(--dark);
	font-weight: 500;
	font-size: 1.5rem;
	margin: 0;
	line-height: 1.175;
}
h2 {
	margin: 0 0 1rem 0;
	font-size: var(--font-size-base);
}
button {
	min-width: 100px;
	padding: 0.5rem 0.75rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 0.5rem;
	border: 0;
	background-color: var(--background-color);
	color: var(--grey);
	border-radius: 40px;
}
.active {
	background-color: var(--dark);
	color: white;
	transition-property: all;
	transition-duration: 0.3s;
}
img {
	max-width: 100%;
}
.control-container {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	min-width: 240px;
	height: 40px;
	gap: 1rem;
}
.wrapper {
	max-width: var(--lg-breakpoint);
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	position: relative;
}
.app {
	&-container {
		display: flex;
		flex-direction: column;
		height: 100vh;
		max-width: 100%;
	}
	&-header {
		height: 84px;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		z-index: 10;
		padding: var(--spacing-base);
		background-color: var(--background-color);
	}
	&-content {
		flex: 1;
		margin-top: 100px;
		height: calc(100vh - 100px);
		overflow-y: auto;
		padding: var(--spacing-base);
		display: flex;
		flex-direction: column;
		gap: 2rem;
		padding-bottom: 64px;
		@media (min-width: 768px) {
			margin-top: 120px;
			height: calc(100vh - 120px);
		}
	}
	&-footer {
		color: var(--dark);
		position: absolute;
		right: 0;
		padding-left: var(--spacing-base);
		bottom: 0;
		left: 0;
		background-color: var(--background-color);
		height: 64px;
		display: flex;
		justify-content: flex-start;
		align-items: center;
	}
}
.card {
	padding: calc(var(--spacing-base) * 1.5);
	border-radius: 32px;
	border: 1px solid var(--lightgrey);
	box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.05);
	display: flex;
	flex-direction: column;
	h2 {
		line-height: 1.2;
		color: var(--dark);
		font-weight: 600;
		display: -webkit-box;
		-webkit-line-clamp: 2;
		line-clamp: 2;
		-webkit-box-orient: vertical;
		overflow: hidden;
	}
	img {
		width: 100%;
		height: auto;
		object-fit: fill;
		display: block;
		border-radius: var(--spacing-base);
	}
	&-text {
		padding: calc(var(--spacing-base));
		padding-bottom: 0;
	}
}
.time {
	font-size: 0.75rem;
	color: var(--dark);
	margin-top: 0;
	margin-bottom: 0.5rem;
}
.metadata {
	width: 100%;
	flex: 1;
	color: var(--dark);
	font-size: 0.75rem;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 1rem;
	@media (min-width: var(--sm-breakpoint)) {
		font-size: 1rem;
	}
	.author,
	.id,
	.score {
		display: flex;
		justify-content: start;
		align-items: center;
		gap: 0.5rem;
	}
}
.sort-controls {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: var(--spacing-base);
	margin-bottom: var(--spacing-base);
	&__layout {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 8px;
	}
	label {
		font-size: 0.75rem;
		text-transform: uppercase;
		color: var(--grey);
	}
}
.story-grid {
	max-width: 100%;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	gap: 3rem 1rem;
}
.detail-card {
	flex: 1;
	overflow-y: auto;
	padding: var(--spacing-base);
	padding-right: 0;
	padding-left: 0;
	display: flex;
	flex-direction: column;
	padding-bottom: 100px;
	img {
		width: 480px;
		max-width: 100%;
		height: auto;
		display: block;
		margin-bottom: var(--spacing-base);
		@media (min-width: 768px) {
			max-width: none;
			height: auto;
		}
	}
	&-text {
		padding-right: var(--spacing-base);
		padding-left: var(--spacing-base);
		.metadata {
			font-size: 1.2rem;
			svg {
				width: 1.2rem;
				height: 1.2rem;
			}
		}
	}
}
.details-container {
	overflow-y: auto;
	margin-top: 120px;
	height: calc(100vh - 120px);
}
.back-link {
	display: inline-flex;
	justify-content: flex-start;
	align-items: center;
	text-decoration: none;
	gap: 0.5rem;
	color: var(--grey);
}
.type {
	padding: 0.25rem 0.5rem;
	background-color: var(--lightgrey);
	color: var(--dark);
	text-transform: uppercase;
	font-size: 0.75rem;
}
.story-title-link {
	display: inline-block;
	max-width: 100%;
	overflow-wrap: break-word;
	word-break: break-all;
}
.url-hint {
	display: inline-block;
	overflow-wrap: break-word;
	word-break: break-all;
}
.loading-state {
	flex: 1;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: red
}
.title--small {
	font-size: 1.25rem;
}