:root {
	--primary-color: #3498db;
	--secondary-color: #2ecc71;
	--background-color: #f4f6ff;
	--hacker-orange: #ff6601;
	--header-color: rgba(71 85 105 / 1);
	--font-family: "Lexend", Helvetica, Arial, sans-serif;
	--font-size-base: 16px;
	--spacing-base: 1rem;
	--grey: rgba(100, 116, 139, 1);
	--dark: #1b2632;
}
body {
	font-family: var(--font-family);
	font-size: var(--font-size-base);
	background-color: var(--background-color);
	margin: 0;
	padding: 0;
	min-height: 100vh;
}
h1 {
	color: var(--dark);
	font-weight: 500;
	font-size: 1.75rem;
	margin: 0 0 1rem 0;
}
h2 {
	margin: 0 0 1rem 0;
	font-size: var(--font-size-base);
}
img {
	max-width: 100%;
}
.app {
	&-container {
		display: flex;
		flex-direction: column;
		height: 100vh;
		overflow: hidden;
	}
	&-header {
		height: 80px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		z-index: 10;
		padding-top: var(--spacing-base);
		padding-left: var(--spacing-base);
		background-color: var(--background-color);
	}
	&-content {
		flex: 1;
		margin-top: 96px;
		height: calc(100vh - 96px);
		overflow-y: auto;
		padding: var(--spacing-base);
		display: flex;
		flex-direction: column;
		gap: 2rem;
	}
	&-footer {
		margin-top: auto;
		background-color: var(--primary-color);
		color: white;
		text-align: center;
		padding: var(--spacing-base);
	}
	// Additional styles can be added here
	&-date {
		color: var(--grey);
	}
}
.card-first {
	display: flex;
	flex-direction: column;
	margin-bottom: 3rem;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	border-radius: var(--spacing-base);
	background-color: white;
	&__layout {
		padding: var(--spacing-base);
		display: grid;
		grid-template-columns: auto 1fr;
		gap: 2rem;
		align-items: center;
	}
	div {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		gap: var(--spacing-base);
	}
	img {
		border-radius: 2rem;
	}
	h2 {
		margin-top: var(--spacing-base);
		font-size:1.5rem;
		margin-left: var(--spacing-base);
	}
	span {
		color: var(--grey);
		font-weight: 500;
	}
}
.card {
	display: grid;
	grid-template-columns: auto 1fr;
	gap: 2rem;
	align-items: flex-start;
	h2 {
		font-size: 1.5rem;
		color: var(--header-color);
		font-weight: 500;
	}
	p {
		margin: 0;
	}
	img {
		border-radius: 1.5rem;
	}
	&-text {
		padding-top: .25rem;
	}
}

